:root{
    --font-big: 3em;
    --font-med: 2.5em;
    --font-sm: 1.3em; 
    --gray: rgb(143, 142, 142);
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(42, 42, 42);
}
#strt-btn{
    color: white;
    background-color: black;
    width: 100px;
    height: 30px;
    margin-right: 100px;
    align-self: center;
    border-radius: 2px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
header h1{
    margin-left: 20px;
    font-weight: 300;
    font-size: var(--font-sm);
}
#banner{
   display: block;
   margin-left: 25px;
   width: 30%;
   text-align: left;
}
#banner h2{
    font-size: var(--font-big);
    font-weight: lighter;
}
#form{
    box-shadow: 2px 2px 15px lightgray;
    width: 610px;
    min-width: 500px;
    height: 600px;
    padding: 10px;
    margin: 40px 130px 0 0;
    background-color: white;
    color: var(--gray);
    border-radius: 3px;
}
.form-section{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.form-section label{
    align-self: flex-start;
}
#company-size select{
    width: 64%;
    height: 35px;
    padding-left: 10px;
}
label{
    width: 40%;
    margin-right: 10px;
}
input, textarea{
    width: 60%;
    height: 35px;
    padding-left: 15px;
}
input[type=text], input[type=number], select, option, textarea{
    border: 2px solid rgb(237, 237, 237);
}
textarea{
    padding-top: 10px;
}
input[type=submit]{
    background-color: black;
    color: white;
    width: 18%;
    padding: 10px 25px;
    margin: 0 auto;
    display: block;
    border-radius: 2px;
}
main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(238,235,234);
    height: 450px;
}
select{
    color: var(--gray);
}
img{
    width: 20px;
    margin-right: 8px;
}